<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MLP</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="./css/common/common.css">
    <link rel="stylesheet" href="./css/env/env.css">
    <link rel="stylesheet" href="./sprite/sprite.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">

    <script>
        


    </script>
</head>

<body>

    <div id="env">
        <header>

            <div class="topmenu">
                <button class="menu">    
                    <i class="fas fa-bars"></i>
                </button>                
                <i class="mlp icon-MLP_Design_Logo_s"></i>
                <div class="searchbar">
                    <div class="select">
                        <label for="selectCategory">전체</label>
                        <select id="selectCategory">
                            <option value="전체">전체</option>
                        </select>
                    </div>
                    <input type="search" placeholder="MLP서비스 검색">
                    <button><i class="fas fa-search"></i></button>
                </div>    
                <div class="right">
                    <div class="circle">
                        지호
                    </div>
                    <div class="usermenu">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </div>
                                <div class="title">
                                    로그아웃
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sidemenu">
                <div class="mask">
                </div>
                <div class="contents">
                    <div class="top">
                        <button>   
                            <i class="fas fa-bars"></i>
                        </button>
                        <i class="icon-MLP_Design_Logo_s"></i>
                    </div>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="icon-icon_wallhack_40"></i>
                            </div>
                            <div class="title">
                                월핵탐지
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="icon-icon_nxflow_40"></i>
                            </div>
                            <div class="title">
                                NXFLOW
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        
        <aside>
            
            <div class="part">
                나의 프로젝트
            </div>            

            <div class="nomenu">
                프로젝트가 없습니다
            </div>

            <ul class="menu">
                <li class="submenu">
                    <div class="icon">
                        <i class="far fa-file-alt"></i>
                    </div>
                    <div class="title">
                        프로젝트 명 1
                    </div>
                </li>
                <li class="submenu">
                    <div class="icon">
                        <i class="far fa-file-alt"></i>
                    </div>
                    <div class="title">
                        프로젝트 명 2
                    </div>
                </li>
            </ul>



            <div class="copyright">
                © 2019 Intelligence Labs, MLP
            </div>
        </aside>

        <section>

            <div class="background">
                <i class="icon-nxflow"></i>
            </div>

            <div class="title">
                <div class="date">
                    <div class="weather">
                        <i class="icon-icon_nxflow_80"></i>
                    </div>
                    <div class="summary">
                        <p class="nxflow">NXFLOW</p>
                        <div>
                            <div>
                                권승진님의 프로젝트
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="tabs">
                    <li class="active">
                        프로젝트
                    </li>
                </ul>
            </div>

            <div class="project">
                <table class="projects">
                    <thead>
                        <th class="seq">
                            Seq
                        </th>
                        <th>
                            프로젝트
                        </th>
                        <th class="hide">
                            생성
                        </th>
                        <th class="hide">
                            최근
                        </th>
                        <th>
                            상태
                        </th>
                        <th>
                            삭제요청
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><button class="go">wallhack</button></td>
                            <td class="hide">2019.01.01</td>
                            <td class="hide">2019.01.01 00:00:00</td>
                            <td>활성</td>
                            <td><button class="show">요청</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="noproject">
                    <p>프로젝트가 없습니다</p>
                    <button>신청가이드 보기</button>
                </div>
            </div>

        </section>
    </div>

</body>

</html>